header {
    text-align: center;
    /* text-decoration: underline; */
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

section {
    margin-top: 3rem;
}

/* ACA EMPIEZA EL INDEX */
#segundoArticulo{
    margin-top: 5rem;
}


#primerArticulo div {
    margin-top: 3rem;
}

#primerArticulo p {
    text-align: justify;
    max-width: 95%;
}

/* ACA EMPIEZA PROYECTOS */
article h4 {
    text-align: center;
    margin-bottom: 2rem;
}

/* ACA EMPIEZA CONTACTO */
.formulario{
    margin-top: 1rem;
}