header {
    text-align: center;
    /* text-decoration: underline; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#primerArticulo {
    margin-top: 5rem;
}

@media screen and (max-width: 1000px) {
    #primerArticulo img {
        /* display: flex; */
        /* justify-content: space-evenly; */
        align-items: center;
    }
}